<section class="cookie">
    <h1>This site uses cookies. If you are cool with that, click ok.</h1>

    <form action="/cookie" method="POST">
        <label for="checkbox">Enable Cookies?</label>
        <input type="checkbox" name="checkbox">
        <button type="submit" name="ok">OK</button>
    </form>
</section>
