
* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    width: 800px;
    height: 400px;
}

.img-div {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 800px;
    height: 400px;

}

#bar {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 10px;
    background: #363636;
    z-index: 10;
    cursor: pointer;
}
